In [1]:
import pandas as pd
import numpy as np
import swifter
from tqdm import tqdm
tqdm.pandas()

In [2]:
weather = pd.read_csv('results/weather_airport_fixed.csv', low_memory=False)
#airports = pd.read_csv('results/backups/ABI_weather_backup.csv')

In [3]:
flights = pd.read_pickle('data/flights_fixed.pkl')

In [4]:
pd.set_option("display.max_columns", None)
display(weather)
display(flights)

,airport_code,Address,Date time,Minimum Temperature,Maximum Temperature,Temperature,Dew Point,Relative Humidity,Heat Index,Wind Speed,Wind Gust,Wind Direction,Wind Chill,Precipitation,Precipitation Cover,Snow Depth,Visibility,Cloud Cover,Sea Level Pressure,Weather Type,Latitude,Longitude,Resolved Address,Name,Info,Conditions
0,ABE,"40.65,-75.44",01/01/2015 00:00:00,-7.1,-7.1,-7.1,-13.3,61.47,NaN,3.4,NaN,230.0,-9.9,0.0,NaN,0.0,9.9,0.0,1022.2,NaN,40.65,-75.44,"40.65,-75.44","40.65,-75.44",NaN,Clear
1,ABE,"40.65,-75.44",01/01/2015 01:00:00,-8.8,-8.8,-8.8,-13.3,70.06,NaN,5.8,18.3,230.0,-13.6,0.0,NaN,0.0,9.9,0.0,1021.4,NaN,40.65,-75.44,"40.65,-75.44","40.65,-75.44",NaN,Clear
2,ABE,"40.65,-75.44",01/01/2015 02:00:00,-7.1,-7.1,-7.1,-13.3,61.47,NaN,3.4,NaN,319.0,-9.9,0.0,NaN,0.0,9.9,0.0,1021.3,NaN,40.65,-75.44,"40.65,-75.44","40.65,-75.44",NaN,Clear
3,ABE,"40.65,-75.44",01/01/2015 03:00:00,-9.3,-9.3,-9.3,-15.0,63.56,NaN,8.0,NaN,230.0,-15.4,0.0,NaN,0.0,9.9,0.0,1021.1,NaN,40.65,-75.44,"40.65,-75.44","40.65,-75.44",NaN,Clear
4,ABE,"40.65,-75.44",01/01/2015 04:00:00,-6.2,-6.2,-6.2,-13.8,54.51,NaN,6.9,NaN,260.0,-11.0,0.0,NaN,0.0,9.9,0.0,1020.9,NaN,40.65,-75.44,"40.65,-75.44","40.65,-75.44",NaN,Clear
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2803514,YUM,"32.66,-114.61",12/31/2015 20:00:00,11.7,11.7,11.7,-6.6,27.12,NaN,6.9,NaN,350.0,NaN,0.0,NaN,0.0,9.9,0.0,1019.2,NaN,32.66,-114.61,"32.66,-114.61","32.66,-114.61",NaN,Clear
2803515,YUM,"32.66,-114.61",12/31/2015 21:00:00,11.7,11.7,11.7,-7.8,24.81,NaN,11.4,NaN,340.0,NaN,0.0,NaN,0.0,9.9,0.0,1019.5,NaN,32.66,-114.61,"32.66,-114.61","32.66,-114.61",NaN,Clear
2803516,YUM,"32.66,-114.61",12/31/2015 22:00:00,10.6,10.6,10.6,-7.8,26.59,NaN,8.1,NaN,340.0,NaN,0.0,NaN,0.0,9.9,0.0,1019.5,NaN,32.66,-114.61,"32.66,-114.61","32.66,-114.61",NaN,Clear
2803517,YUM,"32.66,-114.61",12/31/2015 23:00:00,10.0,10.0,10.0,-7.8,27.76,NaN,10.3,NaN,340.0,NaN,0.0,NaN,0.0,9.9,0.0,1019.8,NaN,32.66,-114.61,"32.66,-114.61","32.66,-114.61",NaN,Clear
2803518,YUM,"32.66,-114.61",01/01/2016 00:00:00,9.3,9.3,9.3,-8.3,27.90,NaN,8.1,NaN,350.0,7.4,0.0,NaN,0.0,9.9,0.0,1019.5,NaN,32.66,-114.61,"32.66,-114.61","32.66,-114.61",NaN,Clear

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,has_origin,scheduled_datetime,departure_datetime,arrival_datetime,origin_timezone,destination_timezone
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,2354.0,-11.0,21.0,15.0,205.0,194.0,169.0,1448,404.0,4.0,430,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,True,2015-01-01 00:05:00,2014-12-31 23:54:00-09:00,2015-01-01 04:08:00-08:00,America/Anchorage,America/Los_Angeles
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,2.0,-8.0,12.0,14.0,280.0,279.0,263.0,2330,737.0,4.0,750,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,True,2015-01-01 00:10:00,2015-01-01 00:02:00-08:00,2015-01-01 07:41:00-05:00,America/Los_Angeles,America/New_York
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,18.0,-2.0,16.0,34.0,286.0,293.0,266.0,2296,800.0,11.0,806,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,True,2015-01-01 00:20:00,2015-01-01 00:18:00-08:00,2015-01-01 08:11:00-05:00,America/Los_Angeles,America/New_York
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,15.0,-5.0,15.0,30.0,285.0,281.0,258.0,2342,748.0,8.0,805,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,True,2015-01-01 00:20:00,2015-01-01 00:15:00-08:00,2015-01-01 07:56:00-05:00,America/Los_Angeles,America/New_York
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,24.0,-1.0,11.0,35.0,235.0,215.0,199.0,1448,254.0,5.0,320,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,True,2015-01-01 00:25:00,2015-01-01 00:24:00-08:00,2015-01-01 02:59:00-09:00,America/Los_Angeles,America/Anchorage
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,2015,12,31,4,B6,688,N657JB,LAX,BOS,2359,2355.0,-4.0,22.0,17.0,320.0,298.0,272.0,2611,749.0,4.0,819,753.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,True,2015-12-31 23:59:00,2015-12-31 23:55:00-08:00,2016-01-01 07:53:00-05:00,America/Los_Angeles,America/New_York
5819075,2015,12,31,4,B6,745,N828JB,JFK,PSE,2359,2355.0,-4.0,17.0,12.0,227.0,215.0,195.0,1617,427.0,3.0,446,430.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,True,2015-12-31 23:59:00,2015-12-31 23:55:00-05:00,2016-01-01 04:30:00-04:00,America/New_York,America/Puerto_Rico
5819076,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2359,2350.0,-9.0,17.0,7.0,221.0,222.0,197.0,1598,424.0,8.0,440,432.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,True,2015-12-31 23:59:00,2015-12-31 23:50:00-05:00,2016-01-01 04:32:00-04:00,America/New_York,America/Puerto_Rico
5819077,2015,12,31,4,B6,333,N527JB,MCO,SJU,2359,2353.0,-6.0,10.0,3.0,161.0,157.0,144.0,1189,327.0,3.0,340,330.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,True,2015-12-31 23:59:00,2015-12-31 23:53:00-05:00,2016-01-01 03:30:00-04:00,America/New_York,America/Puerto_Rico
5819078,2015,12,31,4,B6,839,N534JB,JFK,BQN,2359,14.0,15.0,14.0,28.0,221.0,208.0,189.0,1576,437.0,5.0,440,442.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,True,2015-12-31 23:59:00,2016-01-01 00:14:00-05:00,2016-01-01 04:42:00-04:00,America/New_York,America/Puerto_Rico

In [1]:
#time_of_flight = flights.progress_apply(lambda x: (x['arrival_datetime']-x['departure_datetime']).total_seconds/60.0,axis=1)
#time_of_flight.head()
# above used to check if estimated time is correct. result: is correct

In [5]:
#fl1 = flights[:100]
fl1 = flights

In [6]:
fl1['arrival_datetime'] = fl1.apply(lambda x: x['arrival_datetime'].round(freq='H'), axis=1)
fl1['departure_datetime'] = fl1.apply(lambda x: x['departure_datetime'].round(freq='H'), axis=1)

In [7]:
fl1['arrival_datetime'] = fl1.apply(lambda x: x['arrival_datetime'].tz_localize(None), axis=1)
fl1['departure_datetime'] = fl1.apply(lambda x: x['departure_datetime'].tz_localize(None), axis=1)

In [8]:
pd.set_option("display.max_columns", None)
display(fl1)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,has_origin,scheduled_datetime,departure_datetime,arrival_datetime,origin_timezone,destination_timezone
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,2354.0,-11.0,21.0,15.0,205.0,194.0,169.0,1448,404.0,4.0,430,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,True,2015-01-01 00:05:00,2015-01-01,2015-01-01 04:00:00,America/Anchorage,America/Los_Angeles
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,2.0,-8.0,12.0,14.0,280.0,279.0,263.0,2330,737.0,4.0,750,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,True,2015-01-01 00:10:00,2015-01-01,2015-01-01 08:00:00,America/Los_Angeles,America/New_York
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,18.0,-2.0,16.0,34.0,286.0,293.0,266.0,2296,800.0,11.0,806,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,True,2015-01-01 00:20:00,2015-01-01,2015-01-01 08:00:00,America/Los_Angeles,America/New_York
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,15.0,-5.0,15.0,30.0,285.0,281.0,258.0,2342,748.0,8.0,805,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,True,2015-01-01 00:20:00,2015-01-01,2015-01-01 08:00:00,America/Los_Angeles,America/New_York
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,24.0,-1.0,11.0,35.0,235.0,215.0,199.0,1448,254.0,5.0,320,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,True,2015-01-01 00:25:00,2015-01-01,2015-01-01 03:00:00,America/Los_Angeles,America/Anchorage
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,2015,12,31,4,B6,688,N657JB,LAX,BOS,2359,2355.0,-4.0,22.0,17.0,320.0,298.0,272.0,2611,749.0,4.0,819,753.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,True,2015-12-31 23:59:00,2016-01-01,2016-01-01 08:00:00,America/Los_Angeles,America/New_York
5819075,2015,12,31,4,B6,745,N828JB,JFK,PSE,2359,2355.0,-4.0,17.0,12.0,227.0,215.0,195.0,1617,427.0,3.0,446,430.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,True,2015-12-31 23:59:00,2016-01-01,2016-01-01 04:00:00,America/New_York,America/Puerto_Rico
5819076,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2359,2350.0,-9.0,17.0,7.0,221.0,222.0,197.0,1598,424.0,8.0,440,432.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,True,2015-12-31 23:59:00,2016-01-01,2016-01-01 05:00:00,America/New_York,America/Puerto_Rico
5819077,2015,12,31,4,B6,333,N527JB,MCO,SJU,2359,2353.0,-6.0,10.0,3.0,161.0,157.0,144.0,1189,327.0,3.0,340,330.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,True,2015-12-31 23:59:00,2016-01-01,2016-01-01 04:00:00,America/New_York,America/Puerto_Rico
5819078,2015,12,31,4,B6,839,N534JB,JFK,BQN,2359,14.0,15.0,14.0,28.0,221.0,208.0,189.0,1576,437.0,5.0,440,442.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,True,2015-12-31 23:59:00,2016-01-01,2016-01-01 05:00:00,America/New_York,America/Puerto_Rico

In [9]:
#fl1['departure_datetime'] = fl1.apply(lambda x: x['departure_datetime'].astype(Int64), axis=1)
fl1['departure_datetime'] = fl1['departure_datetime'].astype(int)

In [10]:
fl1['arrival_datetime'] = fl1['arrival_datetime'].astype(int)

In [11]:
wh1 = weather

In [12]:
wh1['Date time'] = wh1.apply(lambda x: pd.to_datetime(x['Date time']), axis=1)

In [13]:
wh1['Date time'] = wh1['Date time'].astype(int)

In [14]:
wh1 = wh1.drop(columns=["Name","Resolved Address","Longitude","Latitude","Maximum Temperature","Minimum Temperature","Address","Precipitation Cover",
                       "Heat Index","Wind Chill","Info"],axis=1)

In [ ]:
#wh1['DataFrame Column'] = wh1['DataFrame Column'].fillna(0)

In [16]:
#merge departure
res = pd.merge(fl1, wh1, left_on=['ORIGIN_AIRPORT','departure_datetime'],  right_on = ['airport_code','Date time'])

In [17]:
res = res.drop(columns=["Date time","airport_code","departure_datetime"],axis=1)
res = res.rename(columns={"Visibility":"Visibility_dep","Temperature":"Temperature_dep",
                         "Dew Point":"Dew_Point_dep","Relative Humidity":"Relative_Humidity_dep",
                         "Wind Speed":"Wind_Speed_dep","Wind Gust":"Wind_Gust_dep",
                         "Wind Direction":"WindDirection_dep",
                         "Precipitation":"Precipitation_dep","Snow Depth":"Snow_Depth_dep",
                         "Cloud Cover":"Cloud_Cover_dep","Sea Level Pressure":"Sea_Lv_Pressure_dep",
                         "Conditions":"Conditions_dep","Weather Type":"Weather_Type_dep"})

In [18]:
#merge arrival
res = pd.merge(res, wh1, left_on=['DESTINATION_AIRPORT','arrival_datetime'],  right_on = ['airport_code','Date time'])

In [19]:
res = res.drop(columns=["Date time","airport_code","arrival_datetime"],axis=1)
res = res.rename(columns={"Visibility":"Visibility_arv","Temperature":"Temperature_arv",
                         "Dew Point":"Dew_Point_arv","Relative Humidity":"Relative_Humidity_arv",
                         "Wind Speed":"Wind_Speed_arv","Wind Gust":"Wind_Gust_arv",
                         "Wind Direction":"WindDirection_arv",
                         "Precipitation":"Precipitation_arv","Snow Depth":"Snow_Depth_arv",
                         "Cloud Cover":"Cloud_Cover_arv","Sea Level Pressure":"Sea_Lv_Pressure_arv",
                         "Conditions":"Conditions_arv","Weather Type":"Weather_Type_arv"})

In [74]:
wh1

,airport_code,Date time,Temperature,Dew Point,Relative Humidity,Wind Speed,Wind Gust,Wind Direction,Wind Chill,Precipitation,Snow Depth,Visibility,Cloud Cover,Sea Level Pressure,Weather Type,Info,Conditions
0,ABE,1420070400000000000,-7.1,-13.3,61.47,3.4,NaN,230.0,-9.9,0.0,0.0,9.9,0.0,1022.2,NaN,NaN,Clear
1,ABE,1420074000000000000,-8.8,-13.3,70.06,5.8,18.3,230.0,-13.6,0.0,0.0,9.9,0.0,1021.4,NaN,NaN,Clear
2,ABE,1420077600000000000,-7.1,-13.3,61.47,3.4,NaN,319.0,-9.9,0.0,0.0,9.9,0.0,1021.3,NaN,NaN,Clear
3,ABE,1420081200000000000,-9.3,-15.0,63.56,8.0,NaN,230.0,-15.4,0.0,0.0,9.9,0.0,1021.1,NaN,NaN,Clear
4,ABE,1420084800000000000,-6.2,-13.8,54.51,6.9,NaN,260.0,-11.0,0.0,0.0,9.9,0.0,1020.9,NaN,NaN,Clear
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2803514,YUM,1451592000000000000,11.7,-6.6,27.12,6.9,NaN,350.0,NaN,0.0,0.0,9.9,0.0,1019.2,NaN,NaN,Clear
2803515,YUM,1451595600000000000,11.7,-7.8,24.81,11.4,NaN,340.0,NaN,0.0,0.0,9.9,0.0,1019.5,NaN,NaN,Clear
2803516,YUM,1451599200000000000,10.6,-7.8,26.59,8.1,NaN,340.0,NaN,0.0,0.0,9.9,0.0,1019.5,NaN,NaN,Clear
2803517,YUM,1451602800000000000,10.0,-7.8,27.76,10.3,NaN,340.0,NaN,0.0,0.0,9.9,0.0,1019.8,NaN,NaN,Clear
2803518,YUM,1451606400000000000,9.3,-8.3,27.90,8.1,NaN,350.0,7.4,0.0,0.0,9.9,0.0,1019.5,NaN,NaN,Clear

In [112]:
res

,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,Temperature_dep,Dew_Point_dep,Relative_Humidity_dep,Wind_Speed_dep,Wind_Gust_dep,WindDirection_dep,Precipitation_dep,Snow_Depth_dep,Visibility_dep,Cloud_Cover_dep,Sea_Lv_Pressure_dep,Weather_Type_dep,Conditions_dep,Temperature_arv,Dew_Point_arv,Relative_Humidity_arv,Wind_Speed_arv,Wind_Gust_arv,WindDirection_arv,Precipitation_arv,Snow_Depth_arv,Visibility_arv,Cloud_Cover_arv,Sea_Lv_Pressure_arv,Weather_Type_arv,Conditions_arv
0,4,AS,98,N407AS,ANC,SEA,5,2354.0,-11.0,21.0,15.0,205.0,194.0,169.0,1448,404.0,4.0,430,408.0,-22.0,NaN,NaN,NaN,NaN,NaN,1.1,-0.7,87.68,4.9,NaN,63.0,0.0,0.0,9.0,100.0,1022.3,NaN,Overcast,-1.2,-6.1,68.98,4.6,NaN,79.0,0.0,0.0,9.9,0.0,1029.1,NaN,Clear
1,4,AA,2336,N3KUAA,LAX,PBI,10,2.0,-8.0,12.0,14.0,280.0,279.0,263.0,2330,737.0,4.0,750,741.0,-9.0,NaN,NaN,NaN,NaN,NaN,7.8,-6.7,35.32,3.2,NaN,58.0,0.0,0.0,9.9,24.8,1017.8,NaN,Clear,22.8,21.1,90.15,0.0,NaN,0.0,0.0,0.0,9.9,89.9,1022.2,NaN,Overcast
2,4,AA,258,N3HYAA,LAX,MIA,20,15.0,-5.0,15.0,30.0,285.0,281.0,258.0,2342,748.0,8.0,805,756.0,-9.0,NaN,NaN,NaN,NaN,NaN,7.8,-6.7,35.32,3.2,NaN,58.0,0.0,0.0,9.9,24.8,1017.8,NaN,Clear,22.2,20.7,90.67,0.0,NaN,0.0,0.0,0.0,5.0,88.0,1022.3,Mist,Overcast
3,4,AA,1674,N853AA,LAS,MIA,35,27.0,-8.0,21.0,48.0,268.0,266.0,238.0,2174,746.0,7.0,803,753.0,-10.0,NaN,NaN,NaN,NaN,NaN,1.7,-8.3,47.62,8.0,NaN,210.0,0.0,0.0,9.9,89.4,1015.5,NaN,Overcast,22.2,20.7,90.67,0.0,NaN,0.0,0.0,0.0,5.0,88.0,1022.3,Mist,Overcast
4,4,US,840,N171US,SFO,CLT,20,18.0,-2.0,16.0,34.0,286.0,293.0,266.0,2296,800.0,11.0,806,811.0,5.0,NaN,NaN,NaN,NaN,NaN,6.1,-0.7,61.71,4.7,NaN,210.0,0.0,0.0,9.9,0.0,1018.6,NaN,Clear,-2.2,-4.4,84.92,0.0,NaN,0.0,0.0,0.0,8.0,49.4,1027.2,Mist,Partially cloudy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4,B6,2023,N324JB,JFK,SJU,535,618.0,43.0,13.0,631.0,225.0,201.0,184.0,1598,1035.0,4.0,1020,1039.0,19.0,0.0,0.0,19.0,0.0,0.0,-2.2,-13.3,42.20,16.1,20.8,260.0,0.0,0.0,9.9,0.0,1021.9,NaN,Clear,28.8,21.7,65.45,14.9,21.9,90.0,0.0,NaN,9.9,49.8,1021.4,NaN,Partially cloudy
96,4,OO,6512,N925SW,FAT,LAX,535,530.0,-5.0,33.0,603.0,75.0,80.0,42.0,209,645.0,5.0,650,650.0,0.0,NaN,NaN,NaN,NaN,NaN,-0.7,-2.2,89.58,0.0,NaN,0.0,0.0,0.0,3.7,0.0,1020.2,Mist,Clear,3.0,-4.4,58.19,5.8,NaN,79.0,0.0,0.0,9.9,46.4,1020.2,NaN,Partially cloudy
97,4,OO,4986,N719SK,AUS,LAX,538,535.0,-3.0,16.0,551.0,212.0,199.0,173.0,1242,644.0,10.0,710,654.0,-16.0,NaN,NaN,NaN,NaN,NaN,1.7,1.1,95.79,8.1,NaN,20.0,3.8,0.0,1.9,100.0,1025.7,"Mist, Rain","Rain, Overcast",3.0,-4.4,58.19,5.8,NaN,79.0,0.0,0.0,9.9,46.4,1020.2,NaN,Partially cloudy
98,4,UA,1577,N69813,SMF,DEN,538,634.0,56.0,26.0,700.0,142.0,164.0,129.0,909,1009.0,9.0,900,1018.0,78.0,22.0,0.0,56.0,0.0,0.0,-3.3,-4.3,92.78,0.0,NaN,0.0,0.0,0.0,3.1,6.0,1020.7,Mist,Clear,-9.3,-15.6,60.18,4.7,NaN,230.0,0.0,5.1,9.9,88.0,1022.6,NaN,Overcast
99,4,B6,727,N292JB,BOS,BWI,540,536.0,-4.0,14.0,550.0,101.0,84.0,66.0,369,656.0,4.0,721,700.0,-21.0,NaN,NaN,NaN,NaN,NaN,-5.0,-14.4,47.74,17.2,25.3,240.0,0.0,0.0,9.9,0.0,1017.5,NaN,Clear,-7.8,-10.7,79.68,0.0,NaN,0.0,0.0,0.0,9.9,25.0,1022.7,NaN,Clear

In [23]:
fl1['SCHEDULED_DEPARTURE'].value_counts()

600    97839
700    73719
800    46456
630    35235
900    34816
       ...
350        1
201        1
337        1
109        1
358        1
Name: SCHEDULED_DEPARTURE, Length: 1314, dtype: int64

In [20]:
res = res.drop(columns=["YEAR","MONTH","DAY","CANCELLED","DIVERTED","CANCELLATION_REASON",
                       #"AIR_SYSTEM_DELAY","SECURITY_DELAY","AIRLINE_DELAY","LATE_AIRCRAFT_DELAY","WEATHER_DELAY",
                       "scheduled_datetime","origin_timezone","destination_timezone","has_origin"],axis=1)

In [21]:
res.to_csv("./data/flights_weather.csv", index=False)

In [22]:
fl1['departure_datetime']

0          1420070400000000000
1          1420070400000000000
2          1420070400000000000
3          1420070400000000000
4          1420070400000000000
                  ...
5819074    1451606400000000000
5819075    1451606400000000000
5819076    1451606400000000000
5819077    1451606400000000000
5819078    1451606400000000000
Name: departure_datetime, Length: 5185537, dtype: int64